{% extends "base.html" %}
{% load static %}
{% block page_content %}
<body xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <nav class="navbar navbar-dark bg-dark site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" style="color: #999;" href="https://getbootstrap.com/docs/4.0/examples/product/#">
          TastyTrash
        </a>
        <a class="py-2 d-none d-md-inline-block" style="color: #999;" href="https://getbootstrap.com/docs/4.0/examples/product/#">Why TastyTrash</a>
        <a class="py-2 d-none d-md-inline-block" style="color: #999;" href="https://getbootstrap.com/docs/4.0/examples/product/#">Our Process</a>
        <a class="py-2 d-none d-md-inline-block" style="color: #999;" href="https://getbootstrap.com/docs/4.0/examples/product/#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" style="color: #999;" href="https://getbootstrap.com/docs/4.0/examples/product/#">Sign Up</a>
      </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('{% static 'img/compost.jpg' %}'); background-size: 100%; background-position: center;
    background-repeat: no-repeat; color: white; background-color: #343a40!important;">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Your Trash</br> Saves the World</h1>
        <p class="lead font-weight-normal"> </br>
            The easiest way to composting, exclusively in NYC
        </p>
        <a class="btn btn-outline-secondary" href="https://getbootstrap.com/docs/4.0/examples/product/#">Coming soon</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="row d-flex justify-content-center">
        <h1>Why TastyTrash</h1>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 row" style="margin-left: 0px;">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col-md">
        <div class="my-3 py-3">
          <h2 class="display-5">The Problem</h2>
          <p class="lead">NYC has a lot of tasty trash. Every year, we throw away 3.1 million tons of residential trash. That means that every six weeks we throw away an Empire State Building’s worth of trash! Trash ends up in landfills, where it slowly decomposes and produces methane, polluting the air, water, and land.</p>
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-md">
        <div class="my-3 p-3">
          <h2 class="display-5">The Solution</h2>
          <p class="lead">The good news is the largest portion of our trash is compostable - 34% - or one million tons (~3 Empire State Buildings), with the next largest portion being recyclables.
</p>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 row" style="margin-left: 0px;">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-md">
        <div class="my-3 p-3">
          <h2 class="display-5">The Problem With the Solution</h2>
          <p class="lead">While we recycle 79% of our cardboard, we only compost about 5% of our organic waste. We get it. Composting is hard - you need space, time, and attention. Hot-composting requires a critical mass that heats itself and needs to be turned based on its size and the microorganisms inside of it digesting the organic matter. Try doing all that in your one-bedroom.
</p>
        </div>
      </div>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col-md">
        <div class="my-3 py-3">
          <h2 class="display-5">The Solution for the Problem with the Solution</h2>
            <p class="lead"><b>TrastyTrash.</b> We love your trash. Just fill up your bucket, schedule a pickup, and we do the rest. No mess, no guilt, no problems.
</p>
        </div>
      </div>
    </div>

    <section class="our-blog p-0 m-0 bg-silver">
    <div class="container work-process  pb-5 pt-5">
        <div class="title mb-5 text-center">
        <h3><span class="site-color">Our Process</span></h3>
    </div>
        <!-- ============ step 1 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">01</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>Sign Up Here!</h5>
                            <p><small></small></p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class=""></div>
            </div>
        </div>
        <!-- ============ step 2 =========== -->
        <div class="row">

            <div class="col-md-5">
                <div class=""></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">02</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>We drop off a sanitized, clean compost bin</h5>
                            <p><small></small></p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>

        </div>
        <!-- ============ step 3 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">03</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>You fill it up with compostables (YUM)</h5>
                            <p><small> </small></p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class=""></div>
            </div>
        </div>
        <!-- ============ step 4 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class=""></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">04</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>You schedule a pick up and leave your bin outside for contactless, COVID-safe service</h5>
                            <p><small></small></p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>


        </div>
        <!-- ============ step 3 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class="process-box process-left" data-aos="fade-right" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">03</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>You fill it up with compostables (YUM)</h5>
                            <p><small> </small></p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class=""></div>
            </div>
        </div>
        <!-- ============ step 4 =========== -->
        <div class="row">
            <div class="col-md-5">
                <div class=""></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="process-box process-right" data-aos="fade-left" data-aos-duration="1000">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="process-step">
                                <p class="m-0 p-0">Step</p>
                                <h2 class="m-0 p-0">04</h2>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h5>You schedule a pick up and leave your bin outside for contactless, COVID-safe service</h5>
                            <p><small></small></p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>

        </div>
        <!-- ============ -->
    </div>
</section>

            <!-- Pricing ============ -->
    <section>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">A Little Tasty</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>One bucket at each pickup</li>
              <li>We give you one bucket</li>
              <li>Schedule pickup online</li>
            </ul>
            <a href = 'https://buy.stripe.com/test_aEU4hF50X6LjbhCfYY'><button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up</button></a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">A Lotta Tasty</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$25 <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Two buckets at each pickup</li>
              <li>We give you two buckets</li>
              <li>Schedule pickup online</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
      </div>

    </section>

    <!-- Footer ============ -->

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Cool stuff</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Random feature</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Team feature</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Stuff for developers</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Another one</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Resource</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Resource name</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Another resource</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Business</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Education</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Government</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Team</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Locations</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Privacy</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/docs/4.0/examples/product/#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script>
  AOS.init();
    </script>

    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
{% endblock %}